# Copy this file to .env and fill in your real values

# LLM
LLM_API_KEY=
LLM_PROXY=
LLM_MODEL=gpt-5.1

# Langfuse (observabilitate / tracing)
LANGFUSE_PROXY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
